body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}



#logo{
    display: flex;
    align-items: center;
}

#logo figcaption {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.25em;
    color: #3E3F43;
    margin-left: 5px;
}

nav{
    display: flex;
    width: 1100px;
    margin: 0 auto;
    margin-top: 29px;
    margin-bottom: 100px;
    
}

ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1100px;
    height: 40px;
   
}

a{
    text-decoration: none;
}

li{
    padding-right: 48px;
}

nav, ul, li, a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(34, 34, 34, 0.75);
    
}
.active a{
    color: #DAA520;
}
.button a{
    text-transform: uppercase;
    border: 1px solid rgba(62, 63, 67, 1);
    border-radius: 8px;
    padding: 9px 36px;
}

header{
    width: 1100px;
    margin: auto;  
    display: flex;
    align-items: center;
}
header div span{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #3E3F43;
}
header div h1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    color: #313235;
}
.colums{
    display: inline-block;
    margin-left: 50;
    width: 55%;
}
.columsnr2{
    display: inline-block;
    width: 568px;
    height: 577px;
    left: 584px;
    top: 165px;
}
.button1{
    background: #DAA520;
    border: none;
    padding: 14px;
    text-transform: capitalize;
    color: white;
}

#rounded-img-bl{
    position: absolute;
    width: 400px;
    height: 800px;
    right: 0;
    top: 0px;
    background: #F9BDBD;
    z-index: -1;
    border-bottom-left-radius: 100px;
    
}
.flower{
        position: absolute;
        left: 522;
        top: 400;
        z-index: -1;
}

.header2 {
    padding-top: 150px;
    
}

.wwa, .wwa2{
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    display: flex;
    align-items: center;
    
}

.wwa:after{
    content: "";
    display: block;
    width: 320px;
    height: 1px;
    background-color: black;
    margin-left: 20px;
}

.wwa2:after{
    content: "";
    display: block;
    width: 65px;
    height: 1px;
    background-color: black;
    margin-left: 20px;
    

}
.au{
    text-align: center;
    line-height: 115px;
    font-size: 72px;
    font-weight: 800;
    text-transform: uppercase;
    color: #2222221A;
    font-weight: bold;
    margin-left: -35px;
}
.left {
    margin-top: 200;
    font-size: 36px;
    line-height: 50px;
    color: #3E3F43;
    padding-left: 75;
    
}
.columsnr3, .columsnr4{
    width: 45%;
}
.section1{
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: start;
}
.taz{
    margin-top: 200 ;
    padding-left: 100;
    
}
.normal{
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    font-style: normal;
}
._normal{
    padding-right:90px;
}
#flowernr2{
    position: absolute;
    margin-top: 385px ;
    z-index: -2;
    width: 382px;
    height: 382px;
    left: -67px;
}
#rounded{
    position: absolute;
    width: 280px;
    height: 400px;
    background: #F7DEA6;
    z-index: -1;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    margin-top: -70px;
}

.right{
    font-size: 36px;
    line-height: 50px;
    color: #3E3F43;
    margin-top: 200px;
}

.section2{
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 155px;
    padding-left: 110px;
        
}